{% extends 'base.html' %}
{% block title %}DB Navigator ({{db_name}}){% endblock %}
{% block extra_head %}
	<link rel="stylesheet" href="{{prefix}}/files/css/main.css">
{% endblock %}

{% block page %}
	<div class="container">
		<div class="header">
			<h3>{{db_name}}</h3>
			{% if show_logout %}
				<a href="logout" class="btn btn-outline-danger" data-bs-placement="left" title="Logout"><i class="fas fa-sign-out-alt"></i></a>
			{% endif %}
		</div>
		<hr>

		<div class="d-grid gap-3">
			<a href="sql" class="btn btn-outline-primary">SQL</a>

			<div class="list-group">
				{% for table in tables %}
					<a href="table/{{table}}" class="list-group-item list-group-item-action">{{ table }}</a>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
