<!DOCTYPE html>
<html>
<head>
	<title>{{db_name}}/{{table_name}}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{prefix}}/db_navigator/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{prefix}}/db_navigator/css/main.css">
</head>
<body>
	<div class="container">
		<div class="header">
			<nav class="navbar navbar-expand-md shift">
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar">
					<span class="navbar-toggler-icon"></span>
				</button>
			</nav>

			<h3><a href="{{prefix}}">{{db_name}}</a> — {{table_name}}</h3>
			{% if show_logout %}
				<a href="{{prefix}}/logout">Logout</a>
			{% endif %}
		</div>
		<hr>
		
		<div class="row">
			<div class="col-md-3 visible-md collapse" id="sidebar">
				<div class="sidebar list-group">
					{% for table in tables %}
						{% if table == table_name %}
							<a href="#" class="list-group-item list-group-item-action active" aria-current="true">{{table}}</a>
						{% else %}
							<a href="{{prefix}}/table/{{table}}" class="list-group-item list-group-item-action">{{table}}</a>
						{% endif %}
					{% endfor %}
				</div>
			</div>
			<div class="col-md-9">
				<ul class="nav nav-tabs">
					<li class="nav-item">
						<a class="nav-link {% if current_tab == '' %}active{% endif %}" href="../{{table_name}}">Structure</a>
					</li>
					<li class="nav-item">
						<a class="nav-link {% if current_tab == 'content' %}active{% endif %}" href="content">Content</a>
					</li>
					{% if readonly == False %}
						<li class="nav-item">
							<a class="nav-link {% if current_tab == 'insert' %}active{% endif %}" href="insert">Insert</a>
						</li>
						<li class="nav-item">
							<a class="nav-link {% if current_tab == 'edit' %}active{% endif %}">Edit</a>
						</li>
					{% endif %}
				</ul>
				<div class="tab-content {% if current_tab == '' %} no-left-radius {% endif %}">
					{% if current_tab == '' %}
						<h3>Columns</h3>
						<div class="table-responsive">
							<table class="table table-striped table-hover text-center">
								<tr>
									<th>Name</th>
									<th>Type</th>
									<th>Not null</th>
									<th>Primary key</th>
									<th>Default</th>
								</tr>
								{% for row in structure %}
									<tr>
										<td><code>{{row["name"]}}</code></td>
										<td><code>{{row["type"]}}</code></td>
										<td>{% if row["notnull"] == 1 %}✓{% endif %}</td>
										<td>{% if row["pk"] == 1 %}✓{% endif %}</td>
										<td><code>{{row["dflt_value"]}}</code></td>
									</tr>
								{% endfor %}
							</table>
						</div>

						{% if foreign_keys %}
							<hr>
							<h3>Foreign Keys</h3>
							<div class="table-responsive">
								<table class="table table-striped table-hover text-center">
									<tr>
										<th>Column</th>
										<th>Reference</th>
									</tr>
									{% for key in foreign_keys %}
										<tr>
											<td><code>{{key["from"]}}</code></td>
											<td>
												<a href="{{prefix}}/table/{{key['table']}}">{{key['table']}}</a>.<code>{{key["to"]}}</code>
											</td>
										</tr>
									{% endfor %}
								</table>
							</div>
						{% endif %}


					{% elif current_tab == 'content' %}
						<h3>Content</h3>
						<div class="table-responsive">
							<table class="table table-striped table-hover text-center">
								<tr style="white-space: nowrap;">
									{% if readonly == False %}
										<th class="no-padding"></th>
									{% endif %}

									{% for column in column_names %}
										<th>
											<a href="?sort={% if sorting == column and sort_type == 'asc' %}-{% endif %}{{ column }}">{{ column }}</a>
											{% if sorting == column %}
												<span style="font-size: 0.75rem;">
													{% if sort_type == "asc" %}⯆{% else %}⯅{% endif %}
												</span>
											{% endif %}
										</th>
									{% endfor %}
								</tr>
								{% for row in content %}
									<tr>
										{% if readonly == False %}
											<td class="no-padding">
												<input rowid="{{row['rowid']}}" class="form-check-input" type="checkbox">
											</td>
										{% endif %}

										{% for item in row["data"] %}
											<td>{{item}}</td>
										{% endfor %}
									</tr>
								{% endfor %}
							</table>
						</div>

						{% if readonly == False %}
							<div id="actions">
								<button id="edit" type="button" class="btn btn-outline-primary">Edit</button>
								<button id="delete" type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#delete-dialog">Delete</button>
							</div>

							<div class="modal fade" id="delete-dialog" tabindex="-1" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered">
									<div class="modal-content">
										<div class="modal-header">
											<h1 class="modal-title fs-5" id="exampleModalLabel">{{db_name}}/{{table_name}}</h1>
											<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
										</div>
										<div class="modal-body">
											Are you sure you want to delete <code id="delete-amount"></code> selected rows?
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
											<button type="button" class="btn btn-danger" id="confirm-delete">Delete</button>
										</div>
									</div>
								</div>
							</div>
						{% endif %}
					{% endif %}
				</div>
			</div>
		</div>
	</div>

	<script src="{{prefix}}/db_navigator/js/bootstrap.min.js"></script>
	<script src="{{prefix}}/db_navigator/js/theme.js"></script>
	{% if current_tab == 'content' %}
		<script src="{{prefix}}/db_navigator/js/content.js"></script>
	{% endif %}
</body>
</html>
