.header{
	margin-top: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}
h3{
	text-align: center;
}
#logout{
	margin-left: auto;
}
.sidebar{
	margin-bottom: 1rem;
	max-height: calc(100vh - 110px);
	overflow: auto;
}
.nav-tabs{
	border-bottom: none;
}
.tab-content{
	border: 1px solid var(--bs-border-color);
	border-radius: var(--bs-border-radius);
	padding: 10px;
}
.table-responsive{
	max-height: calc(100dvh - 214px);
}
.tab-content.no-left-radius{
	border-start-start-radius: 0;
}
.tab-content.no-right-radius{
	border-start-end-radius: 0;
}
table{
	border-radius: var(--bs-border-radius);
	overflow: hidden;
	margin-bottom: 0 !important;
}
table img{
	max-height: 100px;
}
table tr td{
	vertical-align: middle;
}
table .no-padding{
	padding-right: 0;
}
@media (min-width: 768px) {
	.collapse.visible-md {
		display: block;
		height: auto !important;
		visibility: visible;
	}
}
@media (max-width: 768px) {
	.navbar-expand-md {
		margin-right: auto;
	}
}

#actions{
	position: fixed;
	right: 0;
	bottom: 0;
	margin: 1rem;
	display: flex;
	gap: 0.75rem;
	border-radius: var(--bs-border-radius);
	background-color: color-mix(in srgb, var(--bs-body-bg) 75%, transparent);
	backdrop-filter: blur(2px);
	visability: hidden;
	opacity: 0;
	transition: 0.25s;
	pointer-events: none;
}
#actions.show{
	opacity: 1;
	visability: visible;
	pointer-events: auto;
}
#delete-dialog #delete-amount{
	font-size: 1rem;
}
